.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
file_upload/Account/8409/ic_number_pic_20200422161905.jpg
file_upload/Account/8409/passport_pic_20200422161908.jpg
file_upload/Account/8409/ssm_pic_20200422161910.jpg
file_upload/Account/8410/ic_number_pic_20200422162102.jpg
file_upload/Account/8410/passport_pic_20200422162104.jpg
file_upload/Account/8410/ssm_pic_20200422162107.jpg
file_upload/application/2/ic_number_pic_20200422161905.jpg
file_upload/application/2/passport_pic_20200422161908.jpg
file_upload/application/2/ssm_pic_20200422161910.jpg
file_upload/temp/ic_number_pic_20200422155758.jpg
file_upload/temp/ic_number_pic_20200422161749.jpg
file_upload/temp/passport_pic_20200422155800.jpg
file_upload/temp/passport_pic_20200422161752.jpg
file_upload/temp/ssm_pic_20200422155802.jpg
file_upload/temp/ssm_pic_20200422161757.jpg
